@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.name-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1em;
  background-color: #348BC8;
  color: white;
  border-radius: 10px 10px 10px 10px;   
  font-family: "Open Sans", Helvetica, sans-serif;
  width: 50%;
  box-shadow: 5px 5px 5px 5px #999;
} 

.name-headline-1 {
  grid-column: 3 / 5;
  grid-row: 2 / 3;
}    

.name-left-img {
  grid-column: 1 / 2;
  grid-row: 1 / 4;
  width: 100%;
  padding: 1em;
}

.list-headline-1 {
  margin-top: 1.5em;
  margin-left: 1.5em;
}  

.list-1 {
  margin-left: 2em;
}  

.footer-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 3em;
  background-color: #348BC8;
  color: white;
  border-radius: 10px 10px 10px 10px;   
  font-family: "Open Sans", Helvetica, sans-serif;
  width: 50%;
  box-shadow: 5px 5px 5px 5px #999;
} 

.copyright {
  grid-column: 2 / 6;
  grid-row: 1 / 2;
  align-self: center;
  margin-left:2em;
}

#lastUpdate {
  grid-column: 2 / 6;
  grid-row: 2 / 3;
  margin-left:3em;
  margin-top: -3.5em;
	color: yellow;
}