@import url('https://fonts.googleapis.com/css?family=Open+Sans');



:root {
	--back: 	hsl(188, 35%, 63%);
  --back2: 	hsl(203, 28%, 52%);
	--border: hsl(150, 2%, 78%);
	--borderlight: hsl(150, 2%, 78%);
	--shadow: hsl(203, 27%, 56%);
	--zebra: 	hsl(135, 100%, 95%);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 10px 10px 15px var(--shadow);
	border-collapse: collapse;
}

caption {
  padding: 10px;
  caption-side: bottom;
	color: black;
	font-size: .85rem;
  background-color: #7fb9c2;
  box-shadow: 10px 5px 15px var(--shadow);
  border: thin solid var(--border);
}

tr:first-child th {
	background-color: var(--back);
	color: Black;
  font-size: 32px;
  font-weight: 800;
}

th, td {
	padding: 7px 15px;
	border: 1px solid var(--borderlight);
  font-family: "Open Sans", Ubuntu, sans-serif;
}

th {
	background-color: var(--back2);
  color: white;
  font-weight: bolder;
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

tbody tr:nth-child(odd) {
	background-color: hsl(160, 23%, 92%);
}

#highlight {
  background-color: 	hsl(203, 28%, 52%);
  color: white;
}

#cursive {
  font-style: italic;
}