/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {margin: 0 2 vw;}

header {
  padding: 10px;
  font-size: 12px;
  background-color: #eee;
  margin-bottom: 25px;
}

main > p {
  height: 5em;
  border: 2px solid gray;
  padding: 1rem;
  background-color: rgb(226, 223, 223);
}
main div.placeholder {
  display: grid;
  grid-template-rows: 1fr 1fr;
  height: 15em;
  border: 2px solid gray;
  padding: 1rem;
  background-color: rgb(226, 223, 223);
  margin-bottom: 15px;;
}
main div p {
  display: inline;
  border: 1px solid rgb(170, 170, 170);
  padding: 10px;
  height: 6.1em;
}
main div p.spotTwo, p.spotOne {
  margin: 0;
}

main p.spotThree, .join {
  display: none;
}

header nav #hamBtn span:nth-child(1) { display: block;}
header nav #hamBtn span:nth-child(2) { display: none;}

header nav #hamBtn.open span:nth-child(1) { display: none;}
header nav #hamBtn.open span:nth-child(2) { display: block;}

nav button {
  margin: .2rem 2vw;
  background: transparent;
  border: none;
  font-size: 2rem;
  color: #555;
  transition: all 0.3s ease-in-out;
}

nav {
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navigation ul li {
	display: none;
}

nav ul li a {
  display: block;
  padding: .8rem 2vw;
  text-decoration: none;
  color: #d25252;
  border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li a:hover {
  background-color: rgba(0,0,0,0.3);
}

nav div p {
  display: flex;
  flex-direction: column;
  font-size: 1.75em;
  margin: 0;
  padding: 0 6px 0px 6px;
  color: #3b3b3b;
  font-weight: 550;
}

nav div.social{
  padding-left: 2.3em;
}

aside {
	align-items: center;
  text-align: center;
  border: 3px;
  border-radius: 8px 8px 8px 8px;
  margin: 10;
  padding: .5em;
  color: #d25252;
  font-size: 1.5em;
  font-weight: 500;
  background-color:#d1d1d1;
}

body {
  font-family: 'Exo', 'Merriweather Sans', sans-serif;
  background-color: white;
  font-size: 16px;
}

footer {
  background-color: rgb(21, 28, 94);
}

footer div { 
	display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
footer p { 
    margin: 0;
    padding-top: 5px;
    color: white;
    line-height: 1.5;
}
footer a {
    padding-top: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
}
footer div p {
    display: flex;
    flex-flow: column wrap;
}
footer div p span.name {
    font-size: 18px;
}
footer div p span.bar, span.bar1, span.bar2 {
    display: none;
}

#lastUpdate {
  color: white;
}

footer p.compName {
    font-size: 19px;
}
footer img {
    padding-top: 10px;
    width: 100px;
    height: 100px;
}
hr {
    height: 2px;
    padding: 0;
    border: none;
    align-items: center;
    background-color: gray;
}


