
main {
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}

section.grid {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 300px;
  margin: 1em auto;
  padding: .75em 0;
  text-align: center;
  align-self: center;
  justify-self: center;
}

h1 {
  margin-bottom: 0;
  text-align: center;
}

p {
  margin: 10px;
  padding: 0;
}

div.cards img {
  max-height: 100px;
  max-width: 200px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.cards {
  margin: 0 auto;
  text-align: center;
}

button {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  background-color: rgb(21, 28, 94);
  color: #ccc;
  border-radius: 5px;
  padding: 0.1em;
  margin-left: 19%;
  padding-left: 15px;
  padding-right: 15px;
}

button:hover {
  background-color: rgb(15, 21, 70);
  color: white;
}

button:focus, button:active {
  background-color: rgb(15, 21, 70);
  color: white;
}

div.directoryBttn button.list {
  font-size: 44px;
  padding-top: 12px;
  padding-bottom: 6px;
  /* margin-left: 1em; */
}

.directory section.list img {
  display: none;
}

/* .lists {
  display: none;
} */

@media only screen and (min-width: 37.5em) {

  .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
      margin-top: 30px;
  }
  section {
      margin: 0;
  }

  div.directoryBttn button.grid {
    margin-left: 39%;
  }

  div.directoryBttn button.list {
    align-self: center;
    margin-left: 4%;
  }
}

@media only screen and (min-width: 60em) {

  .cards {
      grid-template-columns: repeat(4, 1fr);
  }

  div.directoryBttn button.grid {
    margin-left: 42%;
  }
  
}