
main {
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}

section {
  border: 2px solid gray;
  text-align: center;
  margin: 0;
  background-color: #eee;;
}

h1 {
  margin-bottom: 0;
  color: blue;
}

p {
  margin: 0;
}

div.cards img {
  width: 50%;
  margin-top: 10px;
}

.cards {
  border: 1px solid #ccc;
  padding: 1em;
  margin: 1em;
}

@media only screen and (min-width: 37.5em) {

  .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }
  section {
      margin: 0;
  }
}

@media only screen and (min-width: 60em) {

  .cards {
      grid-template-columns: repeat(4, 1fr);
  }
  
}