
main {
  margin: 0 auto;
  /* align-items: center; */
  display: flex;
  flex-direction: column;
}

section {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 350px;
  height: 300px;
  align-self: center;
  justify-self: center;
  margin: 1em auto;
  text-align: center;
  padding: .75em 0;
  align-self: center;
  justify-self: center;
}

h1 {
  margin-bottom: 0;
}

p {
  margin: 10px;
  padding: 0;
}

div.cards img {
  max-height: 100px;
  max-width: 200px;
  margin-bottom: 20px;
}

.cards {
  margin: 0 auto;
  text-align: center;
}

div.directoryBttn a:link, a:visited {
  text-align: center;
  text-decoration: none;
  font-size: 50px;
  background-color: rgb(21, 28, 94);
  color: white;
}


@media only screen and (min-width: 37.5em) {

  .cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 5px;
  }
  section {
      margin: 0;
  }
}

@media only screen and (min-width: 60em) {

  .cards {
      grid-template-columns: repeat(4, 1fr);
  }
  
}